body {
  background: linear-gradient(135deg, #bfe2e9, #6dd9f0, #a9ebf8) fixed;
  font-size: 10px;
}

.root {
  width: 70%;
  height: 90vh;
  min-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

.header {
  padding: 2%;
}

.header__content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  font-family: "Spartan", sans-serif;
  font-size: 4.5em;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.header__counter {
  display: flex;
}

.header__line {
  width: 78%;
  margin: 0 auto;
}

.header__buttons {
  display: flex;
  justify-content: space-between;
  width: 78%;
  margin: 0 auto;
  margin-top: 20px;
}

.header__button {
  width: 27%;
  padding-top: 10px;
  padding-bottom: 8px;
  background-color: #f9ab64;
  border-radius: 25px;
  font-weight: 500;
  font-size: 1.8em;
  color: #fff;
  font-family: "Spartan", sans-serif;
}

.todo-list {
  width: 78%;
  min-height: 300px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 30px;
  background-color: #eaf9fd;
  border-radius: 20px;
}

.card {
  display: flex;
  padding: 20px;
  margin-bottom: 30px;
  opacity: 1;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 15px -9px rgba(0, 0, 0, 0.12);
  font-family: "Spartan", sans-serif;
}

.card__mark {
  width: 7px;
  margin-left: 3%;
  border-radius: 10px;
  background-color: #f9ab64;
}

.card__content {
  margin-left: 3%;
}

.card__header {
  margin-left: 60px;
  font-size: 3em;
  font-weight: 600;
}

.card__time {
  margin-top: 10px;
  font-size: 2em;
  font-weight: 500;
  color: #c4c4c5;
}

.card__text {
  font-size: 2em;
  font-weight: 400;
}

.card__button {
  width: 15%;
  min-width: 50px;
  margin-top: 10px;
  padding-top: 8px;
  padding-bottom: 6px;
  background-color: #f9ab64;
  border-radius: 25px;
  font-weight: 500;
  font-size: 1.8em;
  color: #fff;
  font-family: "Spartan", sans-serif;
}

.card__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox__text {
  position: relative;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #50c9e4;
}

.card__checkbox:checked + .checkbox__text:before {
  content: "\2713";
  text-align: center;
  vertical-align: top;
  font-size: 22pt;
  color: #fff;
}

.modal__mark {
  background-color: #cff2fa;
}

.modal__cancelbutton {
  background-color: #f9ab64;
}

.modal__okbutton {
  background-color: #50c9e4;
}

.modal__inputs {
  display: flex;
  flex-direction: column;
}
.modal__input {
  width: 300px;
  height: 30px;
  border-radius: 20px;
  background-color: #f9fafb;
  margin-bottom: 10px;
  font-size: 1.5em;
  padding: 10px;
  outline: none;
}

.header__button:hover {
  background-color: #f8b678;
}

.header__button:active {
  background-color: #fdc590;
}

.card__button:hover {
  background-color: #f8b678;
}

.card__button:active {
  background-color: #fdc590;
}

.modal__cancelbutton:hover {
  background-color: #fdc590;
}

.modal__okbutton:hover {
  background-color: #79d0e4;
}

@media (max-width: 767px) {
  body {
    font-size: 7px;
  }

  .root {
    width: 100%;
  }

  .header__content {
    width: 90%;
  }

  .header__line {
    width: 90%;
  }

  .header__buttons {
    width: 90%;
  }

  .header__button {
    padding-top: 8px;
    padding-bottom: 6px;
    width: 27%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .todo-list {
    width: 90%;
    min-width: 300px;
    padding: 20px;
  }

  .card__header {
    margin-left: 30px;
  }

  .checkbox__text:before {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #50c9e4;
  }

  .card__checkbox:checked + .checkbox__text:before {
    content: "\2713";
    text-align: center;
    vertical-align: top;
    font-size: 10pt;
    color: #fff;
  }
}
